<div id="prev-producto" *ngIf="productoDestacado">
  <div class="prev-detalle">
    <h1 [innerHTML]="this.productoDestacado.titulo"></h1>
    <i class="stg-separador" style="width: 217px;margin-bottom: 20px"></i>
    <img src="../assets/images/LogoSystig.svg" alt="" width=230 height=50>
    <h3 style="margin-top: 20px;" [innerHTML]="this.productoDestacado.subTitulo"></h3>
    <p [innerHTML]="this.productoDestacado.descripcionCorta"></p>
  </div>
  <div class="prev-imagen">
    <img class="imagen-destacada" src="../assets/images/{{this.productoDestacado.imagen}}" alt="" height=560 width=758>
  </div>
</div>
<div class="producto-extendido" [ngClass]="{'expandir': this.onExpandProduct,'contraer': !this.onExpandProduct}">
  <div class="producto-container" *ngFor="let producto of productos">
    <div class="producto-content">
      <div class="producto-titulo">
        <h2 [innerHTML]="producto.titulo"></h2>
      </div>
      <div class="producto-descripcion">
        <p [innerHTML]="producto.descripcionCorta"></p>
      </div>
      <div class="producto-boton"><button class="stg-button-cabs">Leer más ></button></div>
    </div>
    <div class="producto-imagen">
      <img src="{{producto.imagen}}" alt="Imagen" class="producto-imagen-logo">
    </div>
  </div>
</div>
<div class="boton-producto" (click)="this.ToggleProductosDetail()">
  <h4 *ngIf="!onExpandProduct" style="margin: 0px; color: #FFF;" >Ver otros productos</h4>
  <h4 *ngIf="onExpandProduct" style="margin: 0px; color: #FFF;" >Ocultar</h4>
  <span *ngIf="!onExpandProduct" style="margin: 0px;" ><mat-icon class="botonmas">expand_more</mat-icon></span>
  <span *ngIf="onExpandProduct" style="margin: 0px;" ><mat-icon class="botonmas">expand_less</mat-icon></span>
</div>
