@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rcrub6');
  src:  url('fonts/icomoon.eot?rcrub6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rcrub6') format('truetype'),
    url('fonts/icomoon.woff?rcrub6') format('woff'),
    url('fonts/icomoon.svg?rcrub6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 20px;
}

.icon-facebook:before {
  content: "\e900";
  color: #fff;
}
.icon-instagram:before {
  content: "\e901";
  color: #fff;
}

#servicios {
  padding: 50px 20px;
}

#productos {
  display: flex;
}

#atender {
  margin-top: 150px;
}

.producto-destacado {
  margin: 40px 60px;
  color: #fff !important;
}

.producto-destacado h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}

.foto-equipo {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  border: solid 0.4em #17c2a6;
  padding: 0.2em;
  margin-top: 20px;
  background-color: #7268fd;
}

.foto-equipo > img {
  border-radius: 50%;
  background-color: #fff;
}

.footer {
  background-color: #3332b1;
  height: 300px;
}

#productos-container {
  background-image: url("/assets/images/hm4.jpg");
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-destacada {
  margin-top: -70px;
  margin-right: 20px;
}
.frmContacto{
  max-width: 900px;
  background: #FFFFFF;
  border-radius: 19px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.frmContacto > mat-form-field{
  display: block;
}

.pie-contacto>*{
  margin: 10px;
  display: inline-block;
}

.mat-icon {
  vertical-align: middle;
  margin: 5px;
}
@media (max-width: 1200px) {
  .imagen-destacada {
    display: none;
  }
  .publicidad {
    display: block;
    height: auto;
  }
}
