<section id="splash">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="c-img-banner banner1">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Creamos Aplicaciones y Sitios Web</h1>
          <p class="lead text-white mt-4">
            Desarrollamos aplicaciones moviles y para PC, Paginas Web,
            Todo en Servicio de Desarrollo de Software y Tecnologias para Gestionar sus recursos.
          </p>
          <button mat-button class="button-caps">¿Quienes Somos?</button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="c-img-banner banner2">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Nuestros Productos</h1>
          <p class="lead text-white mt-4">
            Herramientas indispensables para tu negocio o empresa, veras cuan facil te hacemos tu trabajo
            para que tengas mas tiempo para disfrutar que de trabajar.
          </p>
          <button mat-button class="button-caps">Productos Disponibles</button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="c-img-banner banner3">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Servicios y Contrataciones</h1>
          <p class="lead text-white mt-4">
            Ponemos a tu disposicion las habilidades de nuestros profesionales para que implementes todas esas
            nuevas tecnologias que mejoraran la calidad de tus servicios.
          </p>
          <button mat-button class="button-caps">Solicitar Presupuesto</button>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<section id="servicios">
  <div class="servicios-titulo">
    <h1>Servicios</h1>
    <div class="item-serv-cont-separador" style="background-color: #17C2A6"></div>
  </div>
  <div class="items-serv-cont">
    <ul>
      <li>
        <div class="items-serv-cont-icono">
          <img src="../../../../assets/images/iconos/wapp.svg" alt="icono_web" width=80 height=80>
        </div>
        <div class="items-serv-cont-titulo">Desarrollo web</div>
        <div class="item-serv-cont-separador"></div>
        <div class="items-serv-cont-descripcion"><em>Desarrollamos paginas webs de calidad de acuerdo a las
            necesidades...</em></div>
        <div class="items-serv-cont-pie"><button mat-button class="button-caps">Leer mas</button></div>
      </li>
      <li>
        <div class="items-serv-cont-icono">
          <img src="../../../../assets/images/iconos/mapp.svg" alt="icono_web" width=80 height=80>
        </div>
        <div class="items-serv-cont-titulo">Desarrollo movil</div>
        <div class="item-serv-cont-separador"></div>
        <div class="items-serv-cont-descripcion"><em>Aplicaciones desarrolladas bajo los estandares de experiencias de
            usuario...</em></div>
        <div class="items-serv-cont-pie"><button mat-button class="button-caps">Leer mas</button></div>
      </li>
      <li>
        <div class="items-serv-cont-icono">
          <img src="../../../../assets/images/iconos/shop.svg" alt="icono_web" width=80 height=80>
        </div>
        <div class="items-serv-cont-titulo">Tienda online</div>
        <div class="item-serv-cont-separador"></div>
        <div class="items-serv-cont-descripcion"><em>Hacemos coneccion fisica entre el usuario y tu e-commerce a traves
            de la interfaz...</em></div>
        <div class="items-serv-cont-pie"><button mat-button class="button-caps">Leer mas</button></div>
      </li>
      <li>
        <div class="items-serv-cont-icono">
          <img src="../../../../assets/images/iconos/brand.svg" alt="icono_web" width=80 height=80>
        </div>
        <div class="items-serv-cont-titulo">Branding</div>
        <div class="item-serv-cont-separador"></div>
        <div class="items-serv-cont-descripcion"><em>Nos encargamos de desarrollar todo el branding de tu
            empresa...</em></div>
        <div class="items-serv-cont-pie"><button mat-button class="button-caps">Leer mas</button></div>
      </li>
    </ul>
  </div>
</section>
<div>
  <section id="productos">
    <div style="flex: 1 auto">
      <div class="producto-destacado">
        <h1 style="color: #FFF">Producto en desarrollo</h1>
        <div class="item-serv-cont-separador" style="background-color: #17C2A6"></div>
        <img src="../../../../assets/images/iconos/LogoSystig.svg" alt="" width=200 height=80>
        <h4>Tu negocio virtual</h4>
        <p>Herramienta de planificacion y gestion de recursos empresariales...</p>
        <button mat-button class="button-caps">Leer mas</button>
      </div>
    </div>
    <div><img style="margin-top: -70px;margin-right: 20px" src="../../../../assets/images/hmapp1.png" alt="" height=400
        width=600></div>
  </section>
  <section id="publicidad">
    <div class="publicidad-destacado">
      <h1 style="color: #FFF">Nos gustaria atender tus requerimientos</h1>
      <div class="item-serv-cont-separador" style="background-color: #17C2A6;margin-bottom: 20px"></div>
      <button mat-button class="button-caps">Solicita un presupuesto</button>
    </div>
  </section>
  <section id="publicidad">
      <div style="flex: 1 auto">
        <div style="margin-top: 100px; text-align: right">
          <img src="../../../../assets/images/iconos/3.svg" alt="3_miembros" width=100 height=120>
          <p class="texto-numeros">Miembros del equipo</p>
        </div>
      </div>
      <div class="publicidad-destacado">
        <h1 style="color: #FFF">Quienes somos?</h1>
        <div class="item-serv-cont-separador" style="background-color: #17C2A6;margin-bottom: 20px"></div>
        <p>SYSTIG 'ALCALA (Servicios y Soluciones Tecnologicas para la Industria en General), es una empresa dedicada al
          desarrollo e implementacion de proyectos en las areas de tecnologia y construccion, nace de la necesidad de
          mejorar la calidad de los proyectos asi como la optimizacion de los tiempos de desarrollo y gestion.</p>
          <div style="text-align: center">
              <div style="display: inline-grid; grid-template-columns: 33% 33% 33%; width: 400px;grid-column-gap: 10px;">
                  <div class="foto-equipo"><img  src="../../../../assets/images/avatar_def.svg" alt="Foto" width=100 height=100></div>
                  <div class="foto-equipo"><img  src="../../../../assets/images/avatar_def.svg" alt="Foto" width=100 height=100></div>
                  <div class="foto-equipo"><img  src="../../../../assets/images/avatar_def.svg" alt="Foto" width=100 height=100></div>
                </div>
          </div>
      </div>
      <div style="flex: 1 auto">
        <div style="margin-top: 100px; text-align: left">
          <p class="texto-numeros">Anos de experiencias</p>
          <img src="../../../../assets/images/iconos/8.svg" alt="8_anos" width=100 height=120>
        </div>
      </div>
    </section>
    
</div>
<div id="footer">
  <h1>Footer</h1>
</div>
