<section id="splash">
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="c-img-banner banner1">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h1 class="text-white font-weight-light">Creamos Aplicaciones y Sitios Web</h1>
                <p class="lead text-white mt-4">
                  Desarrollamos aplicaciones moviles y para PC, Paginas Web, 
                  Todo en Servicio de Desarrollo de Software y Tecnologias para Gestionar sus recursos.
                </p>
                <button mat-button color="primary">¿Quienes Somos?</button>
              </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="c-img-banner banner2">
              <div class="col-lg-5 mb-5 mb-lg-0">
                  <h1 class="text-white font-weight-light">Nuestros Productos</h1>
                  <p class="lead text-white mt-4">
                    Herramientas indispensables para tu negocio o empresa, veras cuan facil te hacemos tu trabajo
                    para que tengas mas tiempo para disfrutar que de trabajar.
                  </p>
                  <button mat-button color="primary">Productos Disponibles</button>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="c-img-banner banner3">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <h1 class="text-white font-weight-light">Servicios y Contrataciones</h1>
                    <p class="lead text-white mt-4">
                      Ponemos a tu disposicion las habilidades de nuestros profesionales para que implementes todas esas
                      nuevas tecnologias que mejoraran la calidad de tus servicios.
                    </p>
                    <button mat-button color="primary">Solicitar Presupuesto</button>
                  </div>
              </div>
        </ng-template>
      </ngb-carousel>
</section>
<section id="servicios">
  <p>Servicios</p>
</section>
<section id="productos">
  <p>Productos</p>
</section>
<section id="publicidad">
  <p>Publicidad</p>
</section>
<section id="somos">
  <p>Somos</p>
</section>