.c-img-banner{
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 100px 120px;
    height: 565px;
  }
  
  .c-img-banner.banner1{
    background-image: url("/assets/images/hm1.jpg");
  }
  
  .c-img-banner.banner2{
    background-image: url("/assets/images/hm2.jpg");
  }
  
  .c-img-banner.banner3{
    background-image: url("/assets/images/hm3.jpg");
  }
  
  .c-resume-banner{
    position: relative;
    margin-top: -300px;
  }

  #servicios{
    padding: 50px 20px;
  }
  