<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.systig.com">
                      Todos los derechos y derechos de autor de Systig Alcala F.P. / Diseño del sitio por Lunatics Creative Studio y Systig Alcala F.P.
                    </a>
                </li>
                <li>
                    <a href="https://www.systig.com/somos">
                        Quienes somos?
                    </a>
                </li>
                <li>
                    <a href="https://www.systig.com/licencia">
                        Licencia
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
