<h1 mat-dialog-title *ngIf="data.sentencia=='nuevo'">Agregar nuevo</h1>
<h1 mat-dialog-title *ngIf="data.sentencia=='editar'">Editar Elemento</h1>
<h1 mat-dialog-title *ngIf="data.sentencia=='borrar'">Confirme borrar</h1>
<div mat-dialog-content *ngIf="data.sentencia!='borrar'">
    <form class="row" [formGroup]="myGroup">
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Tipo Documento</mat-label>
                <mat-select formControlName="tipoIdentificacion" [(ngModel)]="data.item.tipoIdentificacion">
                  <mat-option value="NIT">Numero de Identificacion Tributaria</mat-option>
                  <mat-option value="RIF">Registro Informacion Fiscal</mat-option>
                  <mat-option value="RUT">Registro Unidad Tributaria</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Numero del Documento" name="numeroIdentificacion" formControlName="numeroIdentificacion" [(ngModel)]="data.item.numeroIdentificacion"
                  [errorStateMatcher]="matcher">
                <mat-error *ngIf="myGroup.get('numeroIdentificacion').hasError('required')">El numero del documento es requerido</mat-error>
              </mat-form-field>
        </div>
        <div class="col-md-9">
            <mat-form-field>
              <input matInput placeholder="Nombres" name="nombres" formControlName="nombres" [(ngModel)]="data.item.nombres"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="myGroup.get('nombres').hasError('required')">El Nombre es requerido</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Apellidos" name="apellidos" formControlName="apellidos" [(ngModel)]="data.item.apellidos"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="myGroup.get('apellidos').hasError('required')">El apellido es requerido</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Razon Social" name="razonSocial" formControlName="razonSocial" [(ngModel)]="data.item.razonSocial"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="myGroup.get('razonSocial').hasError('required')">El nombre o razon social es requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Pais</mat-label>
            <mat-select formControlName="pais" [(ngModel)]="selPais.numericCode">
              <mat-option *ngFor="let pais of listaPaises" [value]="pais.numericCode" (onSelectionChange)="seleccionaPais($event)">{{pais.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Provincia" name="provincia" formControlName="provincia" [(ngModel)]="data.item.provincia"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="myGroup.get('provincia').hasError('required')">La provincia es requerido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Ciudad" name="ciudad" formControlName="ciudad" [(ngModel)]="data.item.ciudad"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="myGroup.get('ciudad').hasError('required')">La ciudad es requerido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Codigo Postal" name="codigoPostal" formControlName="codigoPostal" [(ngModel)]="data.item.codigoPostal"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="myGroup.get('codigoPostal').hasError('required')">El Codigo postal es requerido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="moneda" [(ngModel)]="selMoneda.code">
              <mat-option *ngFor="let moneda of listaMonedas" [value]="moneda.code">{{moneda.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Direccion" name="direccionFiscal" formControlName="direccionFiscal"
              [(ngModel)]="data.item.direccionFiscal" [errorStateMatcher]="matcher">
            <mat-error *ngIf="myGroup.get('direccionFiscal').hasError('required')">La Direccion es requerido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Correo Electronico" name="email" formControlName="email"
              [(ngModel)]="data.item.email" [errorStateMatcher]="matcher">
            <mat-error *ngIf="myGroup.get('email').hasError('required')">El Email es requerido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telefono Movil" name="telefonoMovil" formControlName="telefonoMovil"
              [(ngModel)]="data.item.telefonoMovil" [errorStateMatcher]="matcher">
            <mat-error *ngIf="myGroup.get('telefonoMovil').hasError('required')">El telefono movil es requerido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telefono Local" name="telefonoLocal" formControlName="telefonoLocal"
              [(ngModel)]="data.item.telefonoLocal" [errorStateMatcher]="matcher">
            <mat-error *ngIf="myGroup.get('telefonoLocal').hasError('required')">El Telefono Local es requerido</mat-error>
          </mat-form-field>
        </div>
      </form>
</div>

<div mat-dialog-content *ngIf="data.sentencia=='borrar'">
    <p>Esta seguro de borrar el elemento?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button *ngIf="data.sentencia=='borrar'" mat-button [mat-dialog-close]="data" color="warn" cdkFocusInitial (click)="onSubmit()">Ok</button>
  <button *ngIf="data.sentencia!='borrar'" mat-button [mat-dialog-close]="data" color="primary" cdkFocusInitial (click)="onSubmit()">Ok</button>
</div>
