/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, Roboto, sans-serif; }

h1{
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #7069FD;
}
header{
  width: 100%;
  background: radial-gradient(1064.87px at 77.23% 58.61%, #00CFB4 0%, #4343FF 100%);
}
.stg-menu-main{
  width: 100%;
  height: 30vh;
  background: linear-gradient(180deg, #4343FF 43.43%, rgba(67, 67, 255, 0) 95.39%);
}
.stg-menu-main2{
  width: 100%;
  height: 30vh;
  background: transparent;
}
#stg-container-header{
  min-height: 640px;
  background-repeat: no-repeat;
  background-position: right;
  background-repeat: no-repeat;
}
.main-menu-container{
  display: flex;
}
.main-menu-container>:nth-child(1){
  padding: 40px;
}
.main-menu-container>:nth-child(2){
  flex: 1;
  text-align: center;
  padding: 40px;
}
.main-menu-container>:nth-child(2)>:nth-child(1){
  display: inline-block;
}
.main-menu-container>:nth-child(2)>:nth-child(1)>ul li{
  display: inline-block;
  margin-left: 30px;
  padding: 5px 15px;
  color: #FFFFFF;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
  transition: font-size 0.4s ease;
  border: none;
}

.main-menu-container>:nth-child(2)>:nth-child(1)>ul li:hover{
  border-bottom: solid .3em #00CFB4;
  font-size: 18px;
}

.stg-separador{
  display: block;
  background-color: #00CFB4;
  height: .3em;
  margin: 1em 0px;
}

.header-titulo{
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #FFFFFF;
}

.header-subtitulo{
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #FFFFFF;
}

#stg-header-content{
  padding-left: 40px;
}
.stg-button-cabs{
  border: solid 1px #00CFB4;
  padding: 5px 15px;
  margin-top: 20px;
  background: #00CFB4;
  border-radius: 18.5px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  transition: border-radius 0.4s ease;
  transition: background-color 0.4s ease;
}

.stg-button-cabs:hover{
  background-color: transparent;
  border-radius: none;
  cursor: pointer;
}

.stg-navegador-splash{
  display: block;
  margin-top: 20px;
}
.stg-navegador-splash>div{
  vertical-align: middle;
  display: inline-block;
  margin: 0px 20px;
  font-family: Poppins;
  font-size: 13px;
  line-height: 19px;
  transition: font-size 0.4s ease;
  color: #FFFFFF;
}

.nav-prev::before{
  display: absolute;
  content: '<';
  font-size: 32px;
  vertical-align: middle;
  margin: 10px;
}
.nav-forward::after{
  display: absolute;
  content: '>';
  font-size: 32px;
  vertical-align: middle;
  margin: 10px;
}

.nav-forward, .nav-prev{
  cursor: pointer;
}

.nav-forward:hover, .nav-prev:hover{
  font-size: 16px;
}

.stg-splash-indicador{
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #FFFFFF;
  margin-left: -25px;
}

.stg-menu-large{
  display: block;
}

.stg-menu-short{
  display: none;
  cursor: pointer;
}

.stg-menu-content-back{
  position: fixed;
  background-color: #4343FF;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.stg-menu-content{
  position: fixed;
  width: 200px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  padding-right: 20px;
  background-color: #4343FF;
}

.stg-menu-content li{
  text-align: center;
  border: solid 1px #00CFB4;
  padding: 5px 15px;
  margin-top: 20px;
  background: #00CFB4;
  border-radius: 18.5px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  transition: border-radius 0.4s ease;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.stg-menu-content li:hover{
  background-color: transparent;
  border-radius: none;
  cursor: pointer;
}

.empleados-container{
  display: inline-flex;
}

.publicidad {
  display: inline-flex;
  height: 100vh;
  padding: 40px;
}

@media (max-width: 1200px) {
  .stg-menu-large{
    display: none;
  }

  .stg-menu-short{
    display: flex;
    flex: 1;
    text-align: right;
    font-size: 48px;
    color: #FFF;
  }
  #stg-container-header{
    background-size: cover;
    height: auto;
  }

  .empleados-container{
    display: block;
  }
}

