<h1 style="font-style: normal;font-weight: 600;font-size: 48px;line-height: 72px;margin-block-end: 10px">¿Alguna
  pregunta?<br />Mandanos un mensaje
</h1>
<i class="stg-separador"
  style="width: 217px;margin: 0px; margin-left: auto;margin-right: auto; margin-bottom: 60px"></i>
<form class="frmContacto" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Nombre completo" formControlName="nombreFormControl" [errorStateMatcher]="matcher">
    <mat-hint>Indique su nombre completo o el de su negocio</mat-hint>
    <mat-error *ngIf="contactForm.get('nombreFormControl').invalid">El nombre es requerido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="emailFormControl" [errorStateMatcher]="matcher">
    <mat-hint>Indique su direccion de Email para contactarle</mat-hint>
    <mat-error *ngIf="contactForm.get('emailFormControl').invalid">La direccion es invalida</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Telefono" formControlName="movilFormControl" [errorStateMatcher]="matcher">
    <mat-hint>Indique su numero de telefono movil para contactarle</mat-hint>
    <mat-error *ngIf="contactForm.get('movilFormControl').invalid">El numero de telefono es requerido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Seleccione un pais</mat-label>
    <mat-select [(value)]="selected" formControlName="paisFormControl">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let pais of listaPaises" value="{{pais.code}}">{{pais.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Asunto" formControlName="asuntoFormControl" [errorStateMatcher]="matcher">
    <mat-hint>Asunto del mensaje</mat-hint>
    <mat-error *ngIf="contactForm.get('asuntoFormControl').invalid">El asunto es requerido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea style="height: 150px;" matInput formControlName="mensajeFormControl" placeholder="Mensaje"
      [errorStateMatcher]="matcher"></textarea>
    <mat-hint>Mensaje</mat-hint>
  </mat-form-field>
  <button class="stg-button-cabs" style="width: 100%">ENVIAR MENSAJE</button>
</form>
<div class="pie-contacto" style="padding: 20px;color: #fff">
  <div><mat-icon>home</mat-icon><i>+57 3204194779</i></div>
  <div><mat-icon>mail_outline</mat-icon>comercial@systig.com</div>
  <div class="stg-navegador-splash" style="display: inline;">
      <div><span class="icon-facebook"></span></div>
      <div><span class="stg-separador" style="width: 80px; background-color: #fff"></span></div>
      <div><span class="icon-instagram"></span></div>
    </div>
</div>
