h1{
  font-style: normal;
  font-size: 24px;
  color: #7069FD;
}
mat-dialog-content{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
}
h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #7069FD;
}

ul li{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
}

.button-closed{
  background: transparent;
  border: none;
  COLOR: orangered;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.button-closed:focus{
  outline: none;
}
