<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [ngClass]="{'hidden': !(isHandset$ | async)}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Casa</a>
      <a mat-list-item href="#">Porque Nosotros?</a>
      <a mat-list-item href="#">Productos</a>
      <a mat-list-item href="#">Servicios</a>
      <a mat-list-item href="#">Quienes somos?</a>
      <a mat-list-item href="#">Contactenos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: white" class="header-bar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <img src="../../../assets/images/iconos/LogoSystig.svg" alt="Logotipo" height=50 width=165>
        <div class="menu-header" [ngClass]="{'hidden': (isHandset$ | async)}">
          <div class="centro-menu">
            <ul>
              <li><a routerLink="." href="#">Casa</a></li>
              <li><a routerLink="." href="#">Porque Nosotros?</a></li>
              <li><a routerLink="." href="#">Productos</a></li>
              <li><a routerLink="." href="#">Servicios</a></li>
              <li><a routerLink="." href="#">Quienes somos?</a></li>
              <li><a routerLink="." href="#">Contactenos</a></li>
            </ul>
          </div>
        </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>