.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .mat-toolbar.mat-primary {
    top: 0;
  }
  
  .hidden{
    display: none;
  }
  
  .separador{
    flex: 1 1 auto;
  }
  
  .stg-logo{
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px;
    padding-top: 5px;
  }
  
  mat-icon{
    margin-right: 10px;
  }