<header>
  <div id="stg-container-header" [ngStyle]="{'background-image' : itemSplasActivo.imagen}">
    <stg-main-menu id="navbar-menu" [@fade]="true" [isHeader]="true"></stg-main-menu>
    <div id="stg-header-content" *ngIf="this.paginaActiva!='contacto'">
      <span class="header-titulo" [innerHTML]="itemSplasActivo.titulo"></span>
      <i class="stg-separador" style="width: 217px"></i>
      <span class="header-subtitulo" [innerHTML]="itemSplasActivo.subTitulo"></span>
      <button class="stg-button-cabs" (click)="this.ToggleLogin()">Inicia sesión ></button>
      <div class="stg-navegador-splash" *ngIf="this.conNavegador">
        <div class="nav-prev" *ngIf="itemSplasActivo.id>1" (click)="PrevNavegador()">Anterior</div>
        <div><span class="stg-splash-indicador">0{{itemSplasActivo.id}}</span></div>
        <div class="nav-forward" *ngIf="itemSplasActivo.id<3" (click)="NextNavegador()">Siguiente</div>
      </div>
      <div class="stg-navegador-splash" *ngIf="!this.conNavegador" style="margin-top: 50px">
        <div><span class="icon-facebook"></span></div>
        <div><span class="stg-separador" style="width: 80px; background-color: #fff"></span></div>
        <div><span class="icon-instagram"></span></div>
      </div>
    </div>
    <div class="form-login-container"
      [ngClass]="{'mostrar-login': this.switchLogin, 'ocultar-login': !this.switchLogin}">
      <stg-sesion></stg-sesion>
    </div>
    <div style="margin-top: 50px" *ngIf="this.paginaActiva=='contacto'">
      <h1
        style="font-style: normal;font-weight: 600;font-size: 48px;line-height: 72px;text-align: center;color: #FFFFFF;">
        ¿Alguna pregunta? <br />
        Mandanos un mensaje
      </h1>
    </div>
  </div>
</header>
