.c-img-banner-porque{
    background-image: url("/assets/images/hm3.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 480px;
    padding: 100px 120px;
    height: 480px;
  }

  .c-img-banner{
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 100px 120px;
    height: 565px;
  }

  .porque-banner-container{
    display:grid;
    grid-template-columns:50% 50%;
    height: 380px;
    padding: 50px;
  }
  
  .porque-banner-description{
    padding-top: 50px;
    padding-left: 33%;
  }
  
  .porque-banner-imagen{
    padding:25px;
  }

  .items-tecno-cont ul li{
    display: inline-flex;
    padding: 20px 50px;
  }

  .items-tecno-cont ul li>img{
    height: 120px;
    width: 120px;
  }

  .tecnologias-titulo{
    text-align: center;
    align-items: center;
  }

  .tecnologias-titulo > .item-tecno-cont-separador,
  .trabajamos-titulo > .item-tecno-cont-separador{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 8px;
  }

  .items-tecno-cont{
    display: flex; 
    width: 60%; 
    margin-left: auto;
    margin-right: auto;
  }

  #tecnologias{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("/assets/images/hm2.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    height: 540px;
  }

  #trabajamos{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFF;
  }

  .trabajamos-titulo{
    text-align: center;
  }

  .items-trabajo-cont{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .items-trabajo-cont > ul li{
    background-color: aliceblue;
    margin: 20px;
    display: grid;
    grid-template-columns: 20% auto 20%;
    padding: 10px;
  }


  h5{
    color: #6A65F7;
    margin-bottom: 10px;
  }

  .items-trabajo-cont p{
    color: #9E9E9E;
    font-size: 14px;
  }