.icono-directores-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.icono-directores-img:hover {
  transform: scale(1.2);
}

.icono-directores-cont1 {
  display: table-cell;
  height: 105px;
  width: 105px;
  background-color: #7069fd;
  padding: 0px;
  border-radius: 50%;
  vertical-align: middle;
}

.icono-directores-cont2 {
  background-color: #00cfb4;
  display: table-cell;
  width: 130px;
  height: 130px;
  text-align: -webkit-center;
  vertical-align: middle;
  border-radius: 50%;
}

.icono-directores-cont3 {
  background: transparent;
  display: table-cell;
  width: 155px;
  height: 155px;
  text-align: -webkit-center;
  vertical-align: middle;
  border: 2px solid #00cfb4;
  border-radius: 50%;
  margin: 7px;
  transition: background-color 0.5s ease;
}

.icono-directores-cont3:hover {
  background-color: #00cfb4;
}

.button-closed{
  background: transparent;
  border: none;
  COLOR: orangered;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.button-closed:focus{
  outline: none;
}
