<header>
  <div id="stg-container-header">
    <div id="stg-menu-main">
      <div id="stg-menu-container" class="main-menu-container">
        <div><img src="../assets/logo-systig.png" alt="Logotipo"></div>
        <div class="stg-menu-large">
          <div>
            <ul>
              <li>Casa</li>
              <li>Productos</li>
              <li>Servicios</li>
              <li>¿Quienes Somos?</li>
              <li>Contacto</li>
            </ul>
          </div>
        </div>
        <div class="stg-menu-short">
            <mat-icon style="font-size: 48px;margin-right: 20px;margin-top: 40px;flex: 1;">menu</mat-icon>
        </div>
        <div class="stg-menu-content-back"></div>
        <ul class="stg-menu-content">
          <span><mat-icon style="font-size: 48px;margin-left: 160px;color: #FFFFFF;cursor: pointer;">menu</mat-icon></span>
            <li>Casa</li>
            <li>Productos</li>
            <li>Servicios</li>
            <li>¿Quienes Somos?</li>
            <li>Contacto</li>
          </ul>
      </div>
    </div>
    <div id="stg-header-content">
      <span class="header-titulo">Creamos <br>Aplicaciones <br>y Sitios Webs</span>
      <i class="stg-separador" style="width: 217px"></i>
      <span class="header-subtitulo">Diseño inteligente</span>
      <button class="stg-button-cabs">Leer más ></button>
      <div class="stg-navegador-splash">
          <div class="nav-prev">Anterior</div>
          <div class="nav-forward">Siguiente</div>
          <div><span class="stg-splash-indicador">01</span></div>
      </div>
    </div>
  </div>
</header>
<section>
  <span>parte 1</span>
</section>
