<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- Seccion de informacion del usuario-->
      <div class="col-md-12">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Perfil de usuario</h4>
            <p class="card-category">Informacion de registro del usuario</p>
          </div>
          <div class="card-body">
            <form [formGroup]="myPerfilGroup">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Tipo Documento</mat-label>
                    <mat-select
                      formControlName="tipoIdentificacion"
                      [(ngModel)]="datos.tipoIdentificacion"
                    >
                      <mat-option value="NIT"
                        >Numero de Identificacion Tributaria</mat-option
                      >
                      <mat-option value="RIF"
                        >Registro Informacion Fiscal</mat-option
                      >
                      <mat-option value="RUT"
                        >Registro Unidad Tributaria</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Numero del Documento"
                      name="numeroIdentificacion"
                      formControlName="numeroIdentificacion"
                      [(ngModel)]="datos.numeroIdentificacion"
                    />
                    <mat-error
                      *ngIf="
                        myPerfilGroup
                          .get('numeroIdentificacion')
                          .hasError('required')
                      "
                      >El numero del documento es requerido</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Correo Electronico"
                      name="email"
                      formControlName="email"
                      [(ngModel)]="datos.email"
                    />
                    <mat-error
                      *ngIf="myPerfilGroup.get('email').hasError('required')"
                      >El Email es requerido</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Nombres"
                      name="nombres"
                      formControlName="nombres"
                      [(ngModel)]="datos.nombres"
                    />
                    <mat-error
                      *ngIf="myPerfilGroup.get('nombres').hasError('required')"
                      >El Nombre es requerido</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Apellidos"
                      name="apellidos"
                      formControlName="apellidos"
                      [(ngModel)]="datos.apellidos"
                    />
                    <mat-error
                      *ngIf="
                        myPerfilGroup.get('apellidos').hasError('required')
                      "
                      >El apellido es requerido</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Fecha de Nacimiento"
                      name="fechaNacimiento"
                      formControlName="fechaNacimiento"
                      (dateInput)="addEvent($event)"
                      (dateChange)="addEvent($event)"
                      [matDatepicker]="picker"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Direccion"
                      name="direccion"
                      formControlName="direccion"
                      [(ngModel)]="datos.direccion"
                    />
                    <mat-error
                      *ngIf="
                        myPerfilGroup.get('direccion').hasError('required')
                      "
                      >La Direccion es requerido</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Telefono Movil"
                      name="telefMovil"
                      formControlName="telefMovil"
                      [(ngModel)]="datos.telefMovil"
                    />
                    <mat-error
                      *ngIf="
                        myPerfilGroup.get('telefMovil').hasError('required')
                      "
                      >El numero movil es requerido</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Ciudad"
                      name="ciudad"
                      formControlName="ciudad"
                      [(ngModel)]="datos.ciudad"
                    />
                    <mat-error
                      *ngIf="myPerfilGroup.get('ciudad').hasError('required')"
                      >La ciudad es requerido</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Pais"
                      name="pais"
                      formControlName="pais"
                      [(ngModel)]="datos.pais"
                    />
                    <mat-error
                      *ngIf="myPerfilGroup.get('pais').hasError('required')"
                      >El pais es requerido</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Codigo Postal"
                      name="codigoPostal"
                      formControlName="codigoPostal"
                      [(ngModel)]="datos.codigoPostal"
                    />
                    <mat-error
                      *ngIf="
                        myPerfilGroup.get('codigoPostal').hasError('required')
                      "
                      >El codigo postal es requerido</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Guardar cambios
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <!-- Seccion de informacion de las empresas del usuario-->
      <div class="col-md-12">
        <div class="card card-profile">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Mis Empresas</h4>
            <p class="card-category">Listado de empresas asociadas</p>
          </div>
          <div class="card-body">
            <div class="card">
              <img class="card-img-top" src="holder.js/100x180/" alt="" />
              <div class="card-body">
                <h4 class="card-title">Crear/Editar</h4>
                <form [formGroup]="myEmpresaGroup">
                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-label>Tipo Documento</mat-label>
                        <mat-select
                          formControlName="tipoIdentificacion"
                          [(ngModel)]="empresaSelect.tipoIdentificacion"
                        >
                          <mat-option value="NIT"
                            >Numero de Identificacion Tributaria</mat-option
                          >
                          <mat-option value="RIF"
                            >Registro Informacion Fiscal</mat-option
                          >
                          <mat-option value="RUT"
                            >Registro Unidad Tributaria</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <mat-form-field>
                        <input
                          matInput
                          placeholder="Numero del Documento"
                          name="numeroIdentificacion"
                          formControlName="numeroIdentificacion"
                          [(ngModel)]="empresaSelect.nroIdentificacion"
                        />
                        <mat-error
                          *ngIf="
                          myEmpresaGroup
                              .get('numeroIdentificacion')
                              .hasError('required')
                          "
                          >El numero del documento es requerido</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <input
                          matInput
                          placeholder="Correo Electronico"
                          name="email"
                          formControlName="email"
                          [(ngModel)]="empresaSelect.email"
                        />
                        <mat-error
                          *ngIf="
                          myEmpresaGroup.get('email').hasError('required')
                          "
                          >El Email es requerido</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input
                          matInput
                          placeholder="Razon social"
                          name="razonSocial"
                          formControlName="razonSocial"
                          [(ngModel)]="empresaSelect.razonSocial"
                        />
                        <mat-error
                          *ngIf="
                          myEmpresaGroup.get('razonSocial').hasError('required')
                          "
                          >El Nombre o razon social es requerido</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field>
                        <input
                          matInput
                          placeholder="Direccion"
                          name="direccion"
                          formControlName="direccion"
                          [(ngModel)]="empresaSelect.direccion"
                        />
                        <mat-error
                          *ngIf="
                          myEmpresaGroup.get('direccion').hasError('required')
                          "
                          >La Direccion es requerido</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <input
                          matInput
                          placeholder="Telefono Local"
                          name="telefFijo"
                          formControlName="telefFijo"
                          [(ngModel)]="empresaSelect.telefFijo"
                        />
                        <mat-error
                          *ngIf="
                          myEmpresaGroup.get('telefFijo').hasError('required')
                          "
                          >El numero telefonico es requerido</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <input
                          matInput
                          placeholder="Ciudad"
                          name="ciudad"
                          formControlName="ciudad"
                          [(ngModel)]="empresaSelect.ciudad"
                        />
                        <mat-error
                          *ngIf="
                          myEmpresaGroup.get('ciudad').hasError('required')
                          "
                          >La ciudad es requerido</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <input
                          matInput
                          placeholder="Pais"
                          name="pais"
                          formControlName="pais"
                          [(ngModel)]="empresaSelect.pais"
                        />
                        <mat-error
                          *ngIf="myEmpresaGroup.get('pais').hasError('required')"
                          >El pais es requerido</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <input
                          matInput
                          placeholder="Codigo Postal"
                          name="codigoPostal"
                          formControlName="codigoPostal"
                          [(ngModel)]="empresaSelect.codigoPostal"
                        />
                        <mat-error
                          *ngIf="
                          myEmpresaGroup
                              .get('codigoPostal')
                              .hasError('required')
                          "
                          >El codigo postal es requerido</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <mat-checkbox 
                    [(ngModel)]="empresaSelect.isDefault" 
                    name="disponible" 
                    class="pull-left"
                    formControlName="disponible">
                      Empresa Por defecto
                  </mat-checkbox>
                  <button
                    mat-raised-button
                    type="submit"
                    class="btn btn-default pull-right"
                  >
                    Cancelar
                  </button>
                  <button
                    mat-raised-button
                    type="submit"
                    class="btn btn-danger pull-right"
                  >
                    Guardar
                  </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
            <table
              mat-table
              [dataSource]="dataSource"
              class="mat-elevation-z8 col-md-12"
            >
              <!-- Edicion Column -->
              <ng-container matColumnDef="edicion">
                <th mat-header-cell class="text-center" *matHeaderCellDef>
                  <button mat-icon-button aria-label="Editar">
                    <mat-icon>add</mat-icon> Nuevo
                  </button>
                </th>
                <td mat-cell class="text-right" *matCellDef="let element">
                  <button mat-icon-button aria-label="Editar">
                    <mat-icon>create</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Borrar">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <!-- Titulo Column -->
              <ng-container matColumnDef="tipoIdentificacion">
                <th mat-header-cell class="text-left" *matHeaderCellDef>
                  Identificacion
                </th>
                <td mat-cell class="text-left" *matCellDef="let element">
                  {{ element.tipoIdentificacion.abrev }} -
                  {{ element.nroIdentificacion }}
                </td>
              </ng-container>

              <!-- Duracion Column -->
              <ng-container matColumnDef="razonSocial">
                <th mat-header-cell class="text-left" *matHeaderCellDef>
                  Nombre o Razon Social
                </th>
                <td mat-cell class="text-left" *matCellDef="let element">
                  {{ element.razonSocial }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
