<h1 mat-dialog-title *ngIf="data.sentencia=='nuevo'">Producto nuevo</h1>
<h1 mat-dialog-title *ngIf="data.sentencia=='editar'">Editar producto</h1>
<h1 mat-dialog-title *ngIf="data.sentencia=='borrar'">Confirme borrar</h1>
<h1 mat-dialog-title *ngIf="data.sentencia=='vistap'">Vista previa del producto</h1>
<h1 mat-dialog-title *ngIf="data.sentencia=='historial'">Historial del producto</h1>
<div mat-dialog-content *ngIf="data.sentencia!='borrar' && data.sentencia!='historial'">
    <form class="row" [formGroup]="myGroup">
      <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="Nombre del producto" name="nombre" formControlName="nombre" [(ngModel)]="data.item.nombre">
            <mat-error *ngIf="myGroup.get('nombre')?.invalid">El nombre del producto es requerido</mat-error>
          </mat-form-field>
      </div>
        <div class="col-md-8">
          <mat-form-field>
              <textarea matInput placeholder="Descripcion del producto" name="descripcion" formControlName="descripcion" [(ngModel)]="data.item.descripcion"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria" [(ngModel)]="selCategoria.idCategoria">
              <mat-option>Ninguno</mat-option>
              <mat-option *ngFor="let categoria of listaCategorias" [value]="categoria.idCategoria">{{categoria.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label >Almacen</mat-label>
            <mat-select formControlName="almacen" [(ngModel)]="selAlmacen.idAlmacen">
                <mat-option>Ninguno</mat-option>
              <mat-option *ngFor="let almacen of listaAlmacenes" [value]="almacen.idAlmacen">{{almacen.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Proveedor</mat-label>
            <mat-select formControlName="proveedor" [(ngModel)]="selProveedor.idProveedor">
              <mat-option>Ninguno</mat-option>
              <mat-option *ngFor="let proveedor of listaProveedores" [value]="proveedor.idProveedor">{{proveedor.razonSocial}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field>
              <mat-label>Unidad</mat-label>
              <mat-select formControlName="unidad" [(ngModel)]="data.item.unidad">
                <mat-option>Unidad</mat-option>
                <mat-option value="Kg">Kilogramo</mat-option>
                <mat-option value="L">Litro</mat-option>
                <mat-option value="Caja">Caja</mat-option>
                <mat-option value="m">metro</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Cantidad Minima" name="cantidadMinima" formControlName="cantidadMinima" [(ngModel)]="data.item.cantidadMinima"
                [errorStateMatcher]="matcher">
                <span matSuffix>&nbsp; {{data.item.unidad}}</span>
              <mat-error *ngIf="myGroup.get('cantidadMinima').hasError('required')">El numero de telefono de la institucion es requerido</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Cantidad optima" name="cantidadOptima" formControlName="cantidadOptima" [(ngModel)]="data.item.cantidadOptima"
                [errorStateMatcher]="matcher">
                <span matSuffix>&nbsp; {{data.item.unidad}}</span>
              <mat-error *ngIf="myGroup.get('cantidadOptima').hasError('required')">Se requiere una catidad optima</mat-error>
            </mat-form-field>
          <mat-slide-toggle name="disponible" formControlName="disponible" [(ngModel)]="data.item.disponible">Disponibilidad</mat-slide-toggle>
        </div>
        <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Descuento" name="descuento" stgPorcentajeund formControlName="descuento" [(ngModel)]="data.item.descuento"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="myGroup.get('descuento').hasError('required')">El numero de telefono de la institucion es requerido</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Impuesto" name="impuesto" stgPorcentajeund formControlName="impuesto" [(ngModel)]="data.item.impuesto"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="myGroup.get('impuesto').hasError('required')">El numero de telefono de la institucion es requerido</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Precio Unitario" name="monto" stgPesocol formControlName="monto" [(ngModel)]="data.item.monto"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="myGroup.get('monto').hasError('required')">El numero de telefono de la institucion es requerido</mat-error>
            </mat-form-field>
        </div>
      </form>
</div>

<div mat-dialog-content *ngIf="data.sentencia=='borrar'">
    <p>Esta seguro de borrar el elemento?</p>
</div>

<div mat-dialog-content *ngIf="data.sentencia=='historial'" style="padding: 20px">
    <div class="col-md-12">
        <table mat-table [dataSource]="dataSourceHistorico" class="mat-elevation-z8 col-md-12">

          <!-- descripcion Column -->
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef style="min-width: 230px"> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>

          <!-- accion Column -->
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef style="min-width: 230px"> Accion </th>
            <td mat-cell *matCellDef="let element"> {{element.accion}} </td>
          </ng-container>

          <!-- fecha Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Fecha </th>
            <td mat-cell class="text-center" *matCellDef="let element"> {{element.fecha}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button *ngIf="data.sentencia=='borrar'" mat-button [mat-dialog-close]="data" color="warn" cdkFocusInitial (click)="onSubmit()">Aceptar</button>
  <button *ngIf="data.sentencia!='borrar'" mat-button [mat-dialog-close]="data" color="primary" cdkFocusInitial (click)="onSubmit()">Aceptar</button>
</div>
