<div class="main-content">
    <div class="container-fluid">
      <div class="row">

        <!-- Acceso directo a Compras-->
        <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">equalizer</i>
                  </div>
                  <h3 class="card-title">Compras</h3>
                  <h5 class="card-category"></h5>
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6"><button class="col-md-12" mat-raised-button color="primary">Nueva</button></div>
                    <div class="col-md-6 text-right"><button class="col-md-12" mat-raised-button color="primary">Detalles</button></div>
                </div>
              </div>
              <div class="card-footer">
                  <div class="row">
                      <a class="col text-right" href="#">Descargar terminal</a>
                  </div>
              </div>
            </div>
          </div>

        <!-- Acceso directo a Ventas-->
        <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">equalizer</i>
                  </div>
                  <h3 class="card-title">Ventas</h3>
                  <h5 class="card-category"></h5>
              </div>
              <div class="card-body row">
                  <div class="col-md-6"><button class="col-md-12" mat-raised-button color="primary">Nueva</button></div>
                  <div class="col-md-6 text-right"><button class="col-md-12" mat-raised-button color="primary">Facturas</button></div>
              </div>
              <div class="card-footer">
                  <div class="row">
                      <a class="col text-right" href="#">Descargar terminal</a>
                  </div>
              </div>
            </div>
          </div>

        <!-- Acceso directo a nuevo pruducto -->
        <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">equalizer</i>
                  </div>
                  <h3 class="card-title">Productos</h3>
                  <h5 class="card-category"></h5>
              </div>
              <div class="card-body row">
                  <div class="col-md-6"><button class="col-md-12" mat-raised-button color="primary">Nuevo</button></div>
                  <div class="col-md-6 text-right"><button class="col-md-12" mat-raised-button color="primary">Inventario</button></div>
              </div>
              <div class="card-footer">
                  <div class="row">
                      <a class="col text-right" href="#">Descargar terminal</a>
                  </div>
              </div>
            </div>
          </div>

        <!-- Acceso directo a Clientes -->
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">equalizer</i>
                </div>
                <h3 class="card-title">Clientes</h3>
                <h5 class="card-category"></h5>
            </div>
            <div class="card-body row">
                <div class="col-md-6"><button class="col-md-12" mat-raised-button color="primary">Nueva</button></div>
                <div class="col-md-6 text-right"><button class="col-md-12" mat-raised-button color="primary">Gestionar</button></div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <a class="col text-right" href="#">Descargar terminal</a>
                </div>
            </div>
          </div>
        </div>

        <!-- Acceso directo a Proveedores -->
        <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">equalizer</i>
                  </div>
                  <h3 class="card-title">Proveedores</h3>
                  <h5 class="card-category"></h5>
              </div>
              <div class="card-body row">
                  <div class="col-md-6"><button class="col-md-12" mat-raised-button color="primary">Nueva</button></div>
                  <div class="col-md-6 text-right"><button class="col-md-12" mat-raised-button color="primary">Gestionar</button></div>
              </div>
              <div class="card-footer">
                  <div class="row">
                      <a class="col text-right" href="#">Descargar terminal</a>
                  </div>
              </div>
            </div>
          </div>

        <!-- Acceso directo a Notas de Pedido-->
        <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">equalizer</i>
                  </div>
                  <h3 class="card-title">Pedidos</h3>
                  <h5 class="card-category"></h5>
              </div>
              <div class="card-body row">
                  <div class="col-md-6"><button class="col-md-12" mat-raised-button color="primary">Nuevo</button></div>
                  <div class="col-md-6 text-right"><button class="col-md-12" mat-raised-button color="primary">Detalles</button></div>
              </div>
              <div class="card-footer">
                  <div class="row">
                      <a class="col text-right" href="#">Descargar terminal</a>
                  </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
      </div>
    </div>
  </div>
