<button mat-raised-button>
    <span>Servicios Disponibles</span>
</button>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step *ngFor="let preg of listaPreguntas; let i=index" [stepControl]="frmGroup[i]">
        <form [formGroup]="frmGroup[i]" *ngIf="preg.pregunta!='Resumen'">
            <ng-template matStepLabel>{{preg.pregunta}}</ng-template>
            <mat-radio-group class="row" *ngIf="preg" formControlName="Q1">
                <mat-card class="tarjeta-servicio" *ngFor="let item of preg.serviciosCollection">
                    <img mat-card-sm-image [src]="'/assets/images/iconos/'+ item.icono" alt="Logo Servicio">
                    <mat-card-content>
                    <div style="display: block; text-align: center; font-size: 1.5em">
                        <span>{{item.titulo}}</span>
                    </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button style="border-radius: 10px;" (click)="openCaracteristicas(item)">Caracteristicas</button>
                    </mat-card-actions>
                    <mat-card-footer style="text-align: center;padding: 10px;">
                        <mat-radio-button *ngIf="!preg.multisel" [value]="item.id" (change)="setSeleccion(preg,item)">Seleccionar</mat-radio-button>
                        <mat-slide-toggle *ngIf="preg.multisel" [(ngModel)]="item.valor" [ngModelOptions]="{standalone: true}">Seleccionar</mat-slide-toggle>
                    </mat-card-footer>
                </mat-card>
            </mat-radio-group>
            <div>
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
        <form [formGroup]="frmGroup[i]" *ngIf="preg.pregunta=='Resumen'">
            <ng-template matStepLabel>Resumen del Cuestionario</ng-template>
            <div>
                <button mat-button (click)="resultado()">Solicitar Presupuesto</button>
            </div>
        </form>
    </mat-step>
  </mat-vertical-stepper>
