.tarjeta-servicio{
    margin-top: 25px; 
    margin-bottom: 25px; 
    margin-right: 40px;
    background-color: #7268FD;
    border-color: #01CFB1;
    color: white; 
    border-radius: 15px; 
    padding-top:20px;
    width: 200px;
}

#section-components .systig-webicon{
    background-image: url("/assets/images/iconos/wapp.svg");
    background-repeat: no-repeat;
    fill: rgba(255, 255, 255, .9);
    height: 70px;
    margin: 20px;
}

#section-components .systig-movicon{
    background-image: url("/assets/images/iconos/mapp.svg");
    background-repeat: no-repeat;
    fill: rgba(255, 255, 255, .9);
    height: 70px;
    margin: 20px;
}

#section-components .systig-shopicon{
    background-image: url("/assets/images/iconos/shop.svg");
    background-repeat: no-repeat;
    fill: rgba(255, 255, 255, .9);
    height: 70px;
    margin: 20px;
}

#section-components .systig-brandicon{
    background-image: url("/assets/images/iconos/brand.svg");
    background-repeat: no-repeat;
    fill: rgba(255, 255, 255, .9);
    height: 70px;
    margin: 20px;
}
