<button mat-button class="button-closed" [mat-dialog-close]="data.titulo" style="float: right;margin: 0px" cdkFocusInitial><mat-icon>backspace</mat-icon></button>

<h1 mat-dialog-title style="text-align: left;">{{data.titulo}}</h1>
<i class="stg-separador" style="width: 217px;margin: 0px;"></i>

<mat-accordion style="padding: 20px 0px;display: inline-block;">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Descripcion
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p>{{data.descripcionCorta}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Que incluye nuestro servicio
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div [innerHTML]="data.descripcionLarga"></div>
    </mat-expansion-panel>

  </mat-accordion>

<div mat-dialog-actions style="display: inline;">
  <mat-slide-toggle [disabled]="!data.disponible" [checked]="data.seleccionado" (input)="data.seleccionado = $event.target.checked">Seleccionar</mat-slide-toggle>
</div>
