<div class="somos-titulo">
  <h1 [style.color]="this.colorTexto=='#808080'?'#7069FD':'#FFFFFF'"
    style="font-style: normal;font-weight: 600;font-size: 48px;line-height: 72px;margin-block-end: 10px">Quienes somos?
  </h1>
  <i class="stg-separador" style="width: 217px;margin: 0px; margin-left: auto;margin-right: auto"></i>
</div>
<div id='somos-main' [ngStyle]="{color: colorTexto}">
  <div class="somos-contenido">
    <p style="font-style: normal;font-weight: normal;font-size: 16px;line-height: 24px;text-align: center;">SYSTIG
      'ALCALA
      (Servicios y Soluciones Tecnologicas para la Industria en General), es una empresa dedicada al
      desarrollo e implementacion de proyectos en las areas de tecnologia y construccion, nace de la necesidad de
      mejorar la calidad de los proyectos asi como la optimizacion de los tiempos de desarrollo y gestion.</p>
  </div>
  <div class="somos-num1">
    <div style="text-align: right; display: inline-flex">
      <img src="../assets/images/3.svg" alt="3_miembros" width=100 height=120>
      <p class="texto-numeros">Miembros <br />del equipo</p>
    </div>
  </div>
  <div class="somos-num2">
    <div style="text-align: left; display: inline-flex;">
      <p class="texto-numeros">Anos de experiencias</p>
      <img src="../assets/images/8.svg" alt="8_anos" width=100 height=120>
    </div>
  </div>
</div>
<div class="somos-fotos" [ngStyle]="{color: colorTexto}">
  <div class="empleados-container">
    <div style="padding-top: 20px; margin: 7px;" *ngFor="let empl of this.empleadosSystig">
      <div class="icono-directores-cont3">
        <div class="icono-directores-cont2">
          <div class="icono-directores-cont1">
            <img class="icono-directores-img" src="../assets/images/avatar_def.svg" alt="Foto" (click)="OpenCurriculum(empl)">
          </div>
        </div>
      </div>
      <div style="margin-top: 15px; display: table-footer-group">{{empl.nombres}}</div>
    </div>

  </div>
</div>
<div class="somos-extendido" [ngClass]="{'expandir': this.onExpandSomos,'contraer': !this.onExpandSomos}">
  <div id="contmisvis">
    <div class="dmision">
      <h1>Misión</h1>
      <p>Nuestro objetivo es crear soluciones tecnológicas caracterizadas por su innovación, creatividad y calidad, que
        permitan a los clientes mejorar sus procesos de negocio. Para ello contamos con un equipo joven y experimentado
        en constante crecimiento dispuesto a llegar donde las necesidades de nuestros clientes exijan.</p>
    </div>
    <div class="dvision">
      <h1>Visión</h1>
      <p>Nuestra filosofía es generar un marco de confianza con el cliente y convertirnos en su instrumento favorito
        para la optimización de sus procesos de negocios ser su socio tecnológico para ayudar a consolidar su
        crecimiento y conseguir el éxito para su empresa.</p>
    </div>
  </div>
  <div class="dexper">
    <div class="carrousel-exper">
      <div class="car-detalle">
        <div class="car-detalle-header">
          <div><img src="../../../assets/images/{{itemExperienciaActivo.icono}}" alt="Imagen Icono"></div>
          <div>
            <h2 style="color: #7069FD;line-height: 45px; font-size: 30px;" [innerHTML]="itemExperienciaActivo.titulo"></h2>
          </div>
        </div>
        <div>
          <p style="color: #808080" [innerHTML]="itemExperienciaActivo.descripcion"></p>
        </div>
        <div class="stg-navegador-splash">
          <div style="color: #000" class="nav-prev" *ngIf="itemExperienciaActivo.id>1" (click)="PrevNavegadorExperiencia()">Anterior</div>
          <div><span class="stg-splash-indicador" style="line-height: 0px; font-size: 24px;color: #000">0{{itemExperienciaActivo.id}}</span></div>
          <div style="color: #000" class="nav-forward" *ngIf="itemExperienciaActivo.id<3" (click)="NextNavegadorExperiencia()">Siguiente</div>
        </div>
      </div>
      <div class="car-imagen">
        <img class="car-imagen-obj" src="../../../assets/images/{{itemExperienciaActivo.imagen}}" alt="Texto Imagen">
      </div>
    </div>
  </div>
  <div class="dcomo">
      <h1 [style.color]="this.colorTexto=='#808080'?'#7069FD':'#FFFFFF'"
      style="font-style: normal;font-weight: 600;font-size: 48px;line-height: 72px;margin-block-end: 10px">Como trabajamos?
    </h1>
    <i class="stg-separador" style="width: 217px;margin: 0px; margin-left: auto;margin-right: auto; margin-bottom: 60px"></i>
    <iframe class="videocomo" src="https://www.youtube.com/embed/9RG3MiEBEIw" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="boton-somos" (click)="this.ToggleSomosDetail()">
  <h4 *ngIf="!onExpandSomos" style="margin: 0px; color: #FFF;">Conoce mas de nosotros</h4>
  <h4 *ngIf="onExpandSomos" style="margin: 0px; color: #FFF;">Ocultar</h4>
  <span *ngIf="!onExpandSomos" style="margin: 0px;">
    <mat-icon class="botonmas">expand_more</mat-icon>
  </span>
  <span *ngIf="onExpandSomos" style="margin: 0px;">
    <mat-icon class="botonmas">expand_less</mat-icon>
  </span>
</div>
