<stg-global-header [paginaActiva]="'home'"></stg-global-header>
<section id="sec-servicios">
  <stg-serv-cotiza></stg-serv-cotiza>
</section>
<div id="productos-container">
  <section id="productos">
    <div style="flex: 1 auto">
      <div class="producto-destacado">
        <h1 style="color: #FFF" [innerHTML]="this.productoDestacado.titulo"></h1>
        <i class="stg-separador" style="width: 217px;margin: 0px;"></i>
        <img src="../assets/LogoSystig.svg" alt="" width=230 height=50>
        <h1 style="font-size: 24px;line-height: 36px;font-style: normal;font-weight: normal;">
          {{this.productoDestacado.subTitulo}}</h1>
        <p style="font-style: normal;font-weight: normal;font-size: 17px;line-height: 25px;">
          {{this.productoDestacado.descripcionCorta}}</p>
        <button class="stg-button-cabs">Leer más ></button>
      </div>
    </div>
    <div>
      <img class="imagen-destacada" src="../assets/{{this.productoDestacado.imagen}}" alt="" height=560 width=758></div>
  </section>
  <section id="publicidad">
    <stg-head-somos class="publicidad"></stg-head-somos>
  </section>
</div>
<div style="height: 220px;background: #3434B2;">
  <stg-menu-header [isHeader]="false"></stg-menu-header>
</div>
