<header>
  <div id="stg-container-header" [ngStyle]="{'background-image' : itemSplasActivo.imagen}">
    <stg-menu-header id="navbar-menu" [@fade]="true" [isHeader]="true"></stg-menu-header>
    <div id="stg-header-content" *ngIf="this.paginaActiva!='contacto'">
      <span class="header-titulo" [innerHTML]="itemSplasActivo.titulo"></span>
      <i class="stg-separador" style="width: 217px"></i>
      <span class="header-subtitulo" [innerHTML]="itemSplasActivo.subTitulo"></span>
      <button class="stg-button-cabs" (click)="this.ToggleLogin()">Inicia sesión ></button>
      <div class="stg-navegador-splash" *ngIf="this.conNavegador">
        <div class="nav-prev" *ngIf="itemSplasActivo.id>1" (click)="PrevNavegador($event)">Anterior</div>
        <div><span class="stg-splash-indicador">0{{itemSplasActivo.id}}</span></div>
        <div class="nav-forward" *ngIf="itemSplasActivo.id<3" (click)="NextNavegador($event)">Siguiente</div>
      </div>
      <div class="stg-navegador-splash" *ngIf="!this.conNavegador" style="margin-top: 50px">
        <div><span class="icon-facebook"></span></div>
        <div><span class="stg-separador" style="width: 80px; background-color: #fff"></span></div>
        <div><span class="icon-instagram"></span></div>
      </div>
    </div>
    <div class="form-login-container"
      [ngClass]="{'mostrar-login': this.switchLogin, 'ocultar-login': !this.switchLogin}">
      <form class="form-login" [formGroup]="options">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Nombre de usuario o email" formControlName="emailFormControl">
          <span matPrefix>
            <mat-icon>person</mat-icon>&nbsp;&nbsp;
          </span>
          <mat-error *ngIf="options.get('emailFormControl')?.invalid">El formato del usuario no es correcto</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Contraseña" [type]="hidePass ? 'password' : 'text'"
            formControlName="passwordFormControl">
          <span matPrefix>
            <mat-icon>lock</mat-icon>&nbsp;&nbsp;
          </span>
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="options.get('passwordFormControl')?.invalid">Se requiere una contraseña</mat-error>
        </mat-form-field>
        <div style="text-align: right;font-style: normal;font-weight: 500;font-size: 14px;line-height: 15px;"><span>¿Has
            olvidado la contraseña?</span></div>
        <button class="stg-button-cabs" style="border-radius: 0px">Inicia sesión</button>
      </form>
    </div>
    <div style="margin-top: 50px" *ngIf="this.paginaActiva=='contacto'">
      <h1
        style="font-style: normal;font-weight: 600;font-size: 48px;line-height: 72px;text-align: center;color: #FFFFFF;">
        ¿Alguna pregunta? <br />
        Mandanos un mensaje
      </h1>
    </div>
  </div>
</header>
